# Ignore node_modules directory
node_modules/
/*/node_modules

# Ignore build artifacts
build/
dist/
out/
*.log

# Ignore environment variables
.env

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json
/*/package-lock.json

# Ignore operating system and editor temporary files
.DS_Store
Thumbs.db

# Ignore sensitive or personal files
config.js
secrets.js
